.footer__column-link {
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    transition: opacity 1s ease-out;
  }
.footer__column-link:hover {
    opacity: 70%;
  }