.header__title {
    width: 730px;
    margin-left: 64px;
    align-self: center;
    z-index: 3;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin: 0 0 0 64px;
    padding: 0;
  }